@font-face{ 
	font-family: 'Happy Sans';
	src: url('../fonts/happy_sans-webfont.eot');
	src: url('../fonts/happy_sans-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/happy_sans-webfont.woff') format('woff'),
	     url('../fonts/happy_sans-webfont.ttf') format('truetype'),
	     url('../fonts/happy_sans-webfont.svg#webfont') format('svg');
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0; padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Loading */
#loading {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #FF6767;
	z-index: 10;
}

#loading #barCont {
	width: 400px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -200px;
	background: black;
}

#loading #bar {
	width: 0;
	height: 20px;
	position: absolute;
	left: 0;
	background: #F3FF67;
}

html, body {
  width: 100%; height: 100%;
}

body {
  background: #000 url(http://i.imgur.com/XgUk6.jpg) top center no-repeat fixed;
  font-family: 'Open Sans', Verdana;
}

h1, #loadText {
	text-align: center;
	color: #fff;
	margin-top: 20px;
	font-family: 'Happy Sans', cursive;
}

#loadText {
	line-height: 380px;
	font-size: 30px;
}

#fps_count {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: white;
	font-family: 'Happy Sans', cursive;
}

.gads {
	text-align: center;
	max-width: 1000px;
	margin: 20px auto;
}

#mute {
	width: 49px;
	height: 40px;
	background: url(../img/mute.png) no-repeat;
	display: block;
	text-decoration: none;
	outline: none;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 15;
	background-position: 0 0;
}

.container {
	position: absolute;
	margin: 20px auto 50px;
	width: auto;
	max-width: 890px;
	height: 640px;
}

footer {
	margin: 20px auto;
	padding: 0 0 20px;
	max-width: 1000px;
}
footer h3 {
	color: #E7E7E7;
	margin-top: 30px;
	font-size: 18px;
	margin-bottom: 10px;
}
footer p {
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: normal;
	color: #D1D1D1;
}
footer a {
	text-decoration: none;
	color: #FF6767;
}
footer a:visited {
	color: #7FFF67;
}
footer a:hover {
	color: #67DBFF;
}
footer a:active {
	color: #F3FF67;
}
footer a:focus {
	color: #FF67ED;
}


canvas#game_main {
  display: block;
  margin: 0 auto;
  position: absolute;
}
canvas#game_bg {
	display: block;
	margin: 0 auto;
	position: absolute;
}


/* Score Board */
#score_board {
	position: absolute;
	top: 0; left: 0; right: 0;
	padding: 10px;
	height: 10%;
	text-align: left;
	font-size: 30px;
	font-weight: normal;
	font-family: 'Happy Sans', cursive;

	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#invincible_timer {
	width: 150px;
	height: 10px;
	position: absolute;
	top: 20px;
	left: 70%;
	border: 1px solid #fff;
	margin-left: 200px;
	display: none;
}
#invincible_loader {
	width: 100%; height: 100%;
	background: #FF0000;
}


/* Start Screen */
#start_screen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1;
	width: 100%;

	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#title {
	font-size: 67px;
	line-height: 100px;
	font-weight: normal;
	color: #945430;
	text-align: center;
	margin: 0;
	padding: 0;
	text-shadow: 3px 3px 0px white;
}

#credits, #high_score, #last_score {
	font: 36px 'Happy Sans', cursive;
	color: navy;
	padding: 0;
	text-align: center;
	margin: -10px 0 10px;
}

#credits a {
	color: olive/* #FFEEAA */;
	text-decoration: none;
}

.options {
	height: 250px;
	background-image: url(../img/stand.png);
	background-position: bottom center;
	width: 200px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	right: 10px;
}

.options:before {
	content: '';
	background-image: url(../img/dig.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 47px;
	height: 49px;
	bottom: -1px;
	left: 50%;
	margin-left: -27px;
	z-index: -1;
}

.options ul {
	margin: 0;
	padding: 30px 0 0;
	list-style: none;
}

.options ul li {
	display: block;
	font: 30px 'Happy Sans', cursive;
	text-align: center;
	margin: 0 0 10px;
}

.options ul li a {
	color: #FFEEAA;
	text-decoration: none;
}

.options ul li:first-child {
	background: url(../img/plank_top.png) no-repeat top center;
	height: 35px;
	line-height: 35px;
}

.options ul li:nth-child(2) {
	background: url(../img/plank_mid.png) no-repeat top center;
	height: 33px;
	line-height: 33px;
}

.options ul li:last-child {
	background: url(../img/plank_bot.png) no-repeat top center;
	height: 35px;
	line-height: 35px;
}

.controls {
	width: 100px;
	height: 48px;
	background: url(../img/controls.png) no-repeat top center;
	margin: 10px auto;
	position: absolute;
	top: 60%; left: 50%;
	margin-top: -24px; margin-left: -100px;
}

/* Share Buttons */
#share_btns {
	max-width: 120px;
	overflow: hidden;
	margin: 0 auto;
}

.share-button {
	float: left;
	margin-right: 10px;
}

#disqus_thread {
	max-width: 1000px;
	margin: 0 auto;
}

#disqus_thread a {
	color: red;
}

div.comments-button a, div.chrome-button  a{
  background-color: #52a8e8;
  background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -moz-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -ms-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -o-linear-gradient(top, #52a8e8, #377ad0);
  background-image: linear-gradient(top, #52a8e8, #377ad0);
  color: #fff;
  font: normal 11px "open sans", sans-serif;
  line-height: 1;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  width: 112px;
  border-radius: 3px;
}

div.comments-button a:hover {
    background-color: #3e9ee5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9ee5), color-stop(100%, #206bcb));
    background-image: -webkit-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: -ms-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: -o-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
    background-image: linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
}

div.chrome-button {
	float: none;
	display: block;
	margin: 0 auto;
	width: 200px;
}

div.chrome-button a {
	width: 200px;
	display: block;
	margin: 20px auto;
	font-size: 13px;
	padding: 10px;
	background-image: -webkit-linear-gradient(top, #5587da, #4d7cd6);
	background-image: -moz-linear-gradient(top, #5587da, #4d7cd6);
	background-image: -ms-linear-gradient(top, #5587da, #4d7cd6);
	background-image: -o-linear-gradient(top, #5587da, #4d7cd6);
	background-image: linear-gradient(top, #5587da, #4d7cd6);
	box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.4);
}